@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Reporte RDLC ASP .NET 5</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <a href="~/Home/Imprimir" class="btn btn-success" target="_blank">Imprimir</a>
        </div>
    </div>
</div>
